<!DOCTYPE html>
<html>

<head>
  <title> snippetShare bitch </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
  <header>

    <nav id="nav_complete" class="navbar navbar-expand-lg navbar-light bg-light">
      <div>
        <a class="navbar-brand" href="#"><img id="logo" src="/images/logo_transparent.png" alt=""></a>
      </div>

      <div id="navbarNav">
        <ul class="navbar-nav">

          <div id="center_header">
            <li class="nav-item active">
              <a class="nav-link" href="#">BIBLIOTHEQUE <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">POST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">ACCOUNT</a>
            </li>
          </div>

        </ul>
      </div>

      <div id="right_header">
        <div class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Log out</a>
        </div>

        <div class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><img id="picto_avatar" src="images/avatar-1.jpg" alt=""></a>
        </div>
      </div>

    </nav>

    <main>

    <div id="photo_perso">
      <img src="images/avatar-1.jpg" alt="GET THE FUCK OUT OF HERE">
    </div>

    <div id=page_perso>

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nom</label>
            <input type="text" class="form-control" id="inputEmail4" placeholder="Nom de famille">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Prenom</label>
            <input type="text" class="form-control" id="inputPassword4" placeholder="Prénom">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Présentation</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Présentes toi en quelques mots Buddy !">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Email</label>
          <input type="email" class="form-control" id="inputAddress2" placeholder="Email">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">Mot de passe</label>
            <input type="password" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">Préférences</label>
            <select id="inputState" class="form-control">
              <option selected>Choisi ta spécialité</option>
              <option> HTML/CSS </option>
              <option> BootStrap</option>
              <option> JavaScript </option>
              <option> ReactJs </option>
              <option> FrontEnd </option>
              <option> BackEnd </option>
              <option> I'm a GlobalCodeur bitch </option>
            </select>
          </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
      </form>
    </div>

    </main>

  </header>



</body>

</html>
