<nav id="nav_complete" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="images/logo_transparent.png" width="100" height="100" alt="logo"></a>

    <div class="navbar-nav" id="center_header">
      <a class="nav-item nav-link" href="#">LIBRARY<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">POST</a>
      <a class="nav-item nav-link" href="#">ACCOUNT</a>

    </div>

  <div id="right_header">
    <div class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Log out</a>
    </div>

    <div class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><img id="picto_avatar" src="images/avatar-1.jpg" alt=""></a>
    </div>
  </div>

</nav>
