body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width : 100%;
  background-color: #006494;
  color : #E8F1F2;
}
.imgDesc{
  width : 75%;
}
.navbar {
  background-color: #006494;
}
a {
  color: #00B7FF;
}
#navSignIn {
  display : flex;
}
.left-welcome{
  width : 50%;
  display : flex;
  flex-direction: column;

}
.right-welcome{
  width : 50%;
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.welcome{
display: flex;
justify-content: space-between;
margin-top: 5px;
}

.formTitle {
  text-align: center;
  font-size: 20px;
}
